.map-responsive {
  width: 100%;
  height: 100vh;
}

.mob-btn-group {
  border: 1px solid gray;
}

@media (max-width: 575px) {
  .map-responsive {
    height: 350px;
  }

  .mobile-view {
    position: absolute;
    top: 0;
    z-index: 9999;
  }

  .mob-btn-group {
    border: none;
  }
}

hr {
  display: none;
}

.font-size {
  font-size: 14px;
}

.pricing-menu {
  display: inline-block;
  list-style-type: none;
  padding-left: 0;
  min-width: 150px;

  .parent {
    position: relative;
  }

  a {
    display: block;
    padding: 8px 15px;
    border: 1px solid white;
    border-radius: 25px;
    text-decoration: none;
  }

  li {
    position: relative;
    margin: 0;

    &:hover,
    &:focus {
      &>a {
        border-top: 1px solid #000 !important;
        border-left: 1px solid #000 !important;
        border-right: 1px solid #000 !important;
        border-radius: 25px 25px 0 0;
        padding: 8px 15px 20px 15px;
        position: relative;
      }

      &:before {
        margin-top: 0;
        border-top-color: #333;
      }

      hr {
        display: block;
        color: #000 !important;
        border-top: 1px solid #000 !important;
        opacity: 1 !important;
        top: 0;
        position: absolute;
        width: 150.5px;
        right: -1px;
      }

      .children {
        border-left: 1px solid #000 !important;
        border-right: 1px solid #000 !important;
        border-bottom: 1px solid #000 !important;
        border-radius: 0px 0px 12px 12px;
        opacity: 1;
        transform: rotateX(0) translateZ(0);
      }
    }
  }

  .children {
    opacity: 0;
    backface-visibility: hidden;
    transform: rotateX(-90deg);
    transform-style: preserve-3d;
    transform-origin: top center;
    transition: transform 0.8s cubic-bezier(0.17, 0.67, 0.59, 1.21),
      opacity 0.1s 0.1s;
    z-index: 1;
    list-style-type: none;
    position: absolute;
    top: 99%;
    left: 0;
    width: 300px;
    max-width: 480px;
    padding: 10px 0;
    background-color: #fff;

    a {
      background-color: transparent;

      // &:hover,
      // &:focus {
      //   color: #333;
      //   background-color: #f9f9f9;
      // }
    }
  }
}

.autopilot-menu {
  display: inline-block;
  list-style-type: none;
  padding-left: .5rem;
  min-width: 150px;

  .parent {
    position: relative;
  }

  a {
    display: block;
    padding: 8px 15px;
    border: 1px solid white;
    border-radius: 25px;
    text-decoration: none;
  }

  li {
    position: relative;
    margin: 0;

    &:hover,
    &:focus {
      &>a {
        border-top: 1px solid #000 !important;
        border-left: 1px solid #000 !important;
        border-right: 1px solid #000 !important;
        padding: 8px 15px 20px 15px;
        border-radius: 25px 25px 0 0;
        position: relative;
      }

      &:before {
        margin-top: 0;
        border-top-color: #333;
      }

      hr {
        display: block;
        color: #000 !important;
        border-top: 1px solid #000 !important;
        opacity: 1 !important;
        top: 0;
        position: absolute;
        width: 229px;
        right: -1px;
      }

      .children {
        border-left: 1px solid #000 !important;
        border-right: 1px solid #000 !important;
        border-bottom: 1px solid #000 !important;
        border-radius: 0px 0px 12px 12px;
        opacity: 1;
        transform: rotateX(0) translateZ(0);
      }
    }
  }

  .children {
    opacity: 0;
    backface-visibility: hidden;
    transform: rotateX(-90deg);
    transform-style: preserve-3d;
    transform-origin: top center;
    transition: transform 0.8s cubic-bezier(0.17, 0.67, 0.59, 1.21),
      opacity 0.1s 0.1s;
    z-index: 1;
    list-style-type: none;
    position: absolute;
    top: 99%;
    left: 0;
    width: 370px;
    max-width: 480px;
    padding: 10px 0;
    background-color: #fff;

    a {
      background-color: transparent;

      // &:hover,
      // &:focus {
      //   color: #333;
      //   background-color: #f9f9f9;
      // }
    }
  }
}

.speed-menu {
  display: inline-block;
  list-style-type: none;
  padding-left: .5rem;
  min-width: 150px;

  .parent {
    position: relative;
  }

  a {
    display: block;
    padding: 8px 15px;
    border: 1px solid white;
    border-radius: 25px;
    text-decoration: none;
  }

  li {
    position: relative;
    margin: 0;

    &:hover,
    &:focus {
      &>a {
        border-top: 1px solid #000 !important;
        border-left: 1px solid #000 !important;
        border-right: 1px solid #000 !important;
        padding: 8px 15px 20px 15px;
        border-radius: 25px 25px 0 0;
        position: relative;
      }

      &:before {
        margin-top: 0;
        border-top-color: #333;
      }

      hr {
        display: block;
        color: #000 !important;
        border-top: 1px solid #000 !important;
        opacity: 1 !important;
        top: 0;
        position: absolute;
        width: 138.5px;
        right: -1px;
      }

      .children {
        border-left: 1px solid #000 !important;
        border-right: 1px solid #000 !important;
        border-bottom: 1px solid #000 !important;
        border-radius: 0px 0px 12px 12px;
        opacity: 1;
        transform: rotateX(0) translateZ(0);
      }
    }
  }

  .children {
    opacity: 0;
    backface-visibility: hidden;
    transform: rotateX(-90deg);
    transform-style: preserve-3d;
    transform-origin: top center;
    transition: transform 0.8s cubic-bezier(0.17, 0.67, 0.59, 1.21),
      opacity 0.1s 0.1s;
    z-index: 1;
    list-style-type: none;
    position: absolute;
    top: 99%;
    left: 0;
    width: 280px;
    max-width: 480px;
    padding: 10px 0;
    background-color: #fff;

    a {
      background-color: transparent;

      // &:hover,
      // &:focus {
      //   color: #333;
      //   background-color: #f9f9f9;
      // }
    }
  }
}

.model-menu {
  display: inline-block;
  list-style-type: none;
  padding-left: .5rem;
  min-width: 150px;

  .parent {
    position: relative;
  }

  a {
    display: block;
    padding: 8px 15px;
    border: 1px solid white;
    border-radius: 25px;
    text-decoration: none;
  }

  li {
    position: relative;
    margin: 0;

    &:hover,
    &:focus {
      &>a {
        border-top: 1px solid #000 !important;
        border-left: 1px solid #000 !important;
        border-right: 1px solid #000 !important;
        padding: 8px 15px 20px 15px;
        border-radius: 25px 25px 0 0;
        position: relative;
      }

      &:before {
        margin-top: 0;
        border-top-color: #333;
      }

      hr {
        display: block;
        color: #000 !important;
        border-top: 1px solid #000 !important;
        opacity: 1 !important;
        top: 0;
        position: absolute;
        width: 159px;
        left: -1px;
      }

      .children {
        border-left: 1px solid #000 !important;
        border-right: 1px solid #000 !important;
        border-bottom: 1px solid #000 !important;
        border-radius: 0px 0px 12px 12px;
        opacity: 1;
        transform: rotateX(0) translateZ(0);
      }
    }
  }

  .children {
    opacity: 0;
    backface-visibility: hidden;
    transform: rotateX(-90deg);
    transform-style: preserve-3d;
    transform-origin: top center;
    transition: transform 0.8s cubic-bezier(0.17, 0.67, 0.59, 1.21),
      opacity 0.1s 0.1s;
    z-index: 1;
    list-style-type: none;
    position: absolute;
    top: 99%;
    right: 0;
    width: 300px;
    max-width: 480px;
    padding: 10px 0;
    background-color: #fff;

    a {
      background-color: transparent;

      // &:hover,
      // &:focus {
      //   color: #333;
      //   background-color: #f9f9f9;
      // }
    }
  }
}

.range-menu {
  display: inline-block;
  list-style-type: none;
  padding-left: .5rem;
  min-width: 150px;

  .parent {
    position: relative;
  }

  a {
    display: block;
    padding: 8px 15px;
    border: 1px solid white;
    border-radius: 25px;
    text-decoration: none;
  }

  li {
    position: relative;
    margin: 0;

    &:hover,
    &:focus {
      &>a {
        border-top: 1px solid #000 !important;
        border-left: 1px solid #000 !important;
        border-right: 1px solid #000 !important;
        padding: 8px 15px 20px 15px;
        border-radius: 25px 25px 0 0;
        position: relative;
      }

      &:before {
        margin-top: 0;
        border-top-color: #333;
      }

      hr {
        display: block;
        color: #000 !important;
        border-top: 1px solid #000 !important;
        opacity: 1 !important;
        top: 0;
        position: absolute;
        width: 158px;
        left: -1px;
      }

      .children {
        border-left: 1px solid #000 !important;
        border-right: 1px solid #000 !important;
        border-bottom: 1px solid #000 !important;
        border-radius: 0px 0px 12px 12px;
        opacity: 1;
        transform: rotateX(0) translateZ(0);
      }
    }
  }

  .children {
    opacity: 0;
    backface-visibility: hidden;
    transform: rotateX(-90deg);
    transform-style: preserve-3d;
    transform-origin: top center;
    transition: transform 0.8s cubic-bezier(0.17, 0.67, 0.59, 1.21),
      opacity 0.1s 0.1s;
    z-index: 1;
    list-style-type: none;
    position: absolute;
    top: 99%;
    right: 0;
    width: 300px;
    max-width: 480px;
    padding: 10px 0;
    background-color: #fff;

    a {
      background-color: transparent;

      // &:hover,
      // &:focus {
      //   color: #333;
      //   background-color: #f9f9f9;
      // }
    }
  }
}

.accordion-item:last-of-type .accordion-button.collapsed {
  background-color: #F5F5F5;
}

.accordion-button:not(.collapsed) {
  color: #000 !important;
  background-color: #fff !important;
  box-shadow: none !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon) !important;
  transform: var(--bs-accordion-btn-icon-transform);
}

.accordion-item {
  border: none !important;
}

#dark {
  .accordion-item:last-of-type .accordion-button.collapsed {
    color: #F5F5F5;
    background-color: #2F2F2F !important;
    border: none !important;
  }

  .accordion-button:not(.collapsed) {
    color: #fff !important;
    background-color: #2F2F2F !important;
    box-shadow: none !important;
  }

  .accordion-button:focus {
    box-shadow: none !important;
  }

  .accordion-button:not(.collapsed)::after {
    background-image: var("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    transform: var(--bs-accordion-btn-icon-transform);
  }
}

.web-filter-scrolling-arrow {
  min-width: 40px;
}

#map-action-buttons-container {
  overflow: scroll;
  overflow-y: hidden;

  #filters-section {
    max-width: 300px;
    min-height: 50px;
    white-space: nowrap;
    display: flex;
    align-items: center;
  }
}

.updateHeight {
  z-index: 1;
}

.updateHeight:hover {
  height: 450px;
}