/* Thin scrollbar in the app (currently supports webkit based browsers only) */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f8f9fa;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #f9fafb;
}

::-webkit-scrollbar-thumb {
  background-color: #a9adb1;
}

.bg-light {
  background-color: white !important;
}

.bg-dark {
  background-color: black !important;
}

.cursor {
  cursor: pointer;
}

.in-active {
  opacity: 0.5;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}
